server:
  port: 8081

spring:
  application:
    name: market-api

  devtools:
    livereload:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://localhost:5433/market_api
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  data:
    mongodb:
      host: localhost
      port: 27017
      database: uni_market_catalog
      username: admin
      password: admin
      authentication-database: admin

security:
  jwt:
    secret-key: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    expiration-time: 3600000

admin:
  email: ${APP_ADMIN_EMAIL}
  password: ${APP_ADMIN_PASSWORD}

springdoc:
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
